* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-item a:hover {
    color: rgb(250, 178, 83);
}

.nav-item {
    font-size: 17px;
}

.nav-link {
    width: 100px;
}

.btn-hover-bg {
    background-color: rgb(250, 178, 83) !important;
    border-radius: 0 !important;
    font-weight: bold;
    border: 1px solid transparent !important;
    padding: 10px 20px;
}

.btn-hover-bg:hover {
    color: rgb(250, 178, 83) !important;
    background-color: rgba(250, 178, 83, 0.253) !important;
    border: 1px solid rgb(250, 178, 83) !important;
}

.carousel-item img {
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-caption h1 {
    text-transform: uppercase;
}

.join-btn {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.join-btn a {
    background-color: rgb(250, 178, 83);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.join-btn a:hover {
    background-color: transparent;
    color: rgb(250, 178, 83);
    border: 1px solid rgb(250, 178, 83);
}

.about {
    gap: 3rem;
    display: flex;
    width: 100%;
    padding: 100px;
}

.about_img {
    width: 45%;

}

.about_img img {
    width: 100%;
    height: 100%;
}

.about_content {
    width: 55%;
}


.about-table {
    background-color: peachpuff;
    padding: 20px;
}

.about-table .nav .nav-item .nav-link {
    background-color: white;
    color: black;
    border-radius: 0 !important;
}

.nav-link.active {
    background-color: #FAB252 !important;
    color: white !important;
    border-color: #FAB252 !important;
}

.about-table .nav {
    gap: 1rem;
}



.service {
    background-color: rgb(240, 240, 240);
}

.service-con {
    padding: 100px;
}

.service-item {
    position: relative;
    overflow: hidden;
}

.service-item img {
    object-fit: cover;
    width: 80%;
    height: 300px;
    max-height: 100%;
    transition: transform 0.5s;

}

.service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}


.service-item img:hover {
    transform: scale(1.2);

}

.service .service-item .service-link {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    z-index: 1;
}

.donation {
    width: 100%;
    margin: 60px 0;
}

.don-text {
    text-align: center;
}

.don_container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 17rem);
    gap: 2rem;
}

.don-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow-y: hidden;

    h3 {
        margin: 0;
        display: block;
        padding: 1rem;
        transform: translate3d(0, -100%, 0);
        transition: transform 300ms;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &:hover,
        &:focus {
            ~.overlay {
                transform: translate3d(0, 30%, 0);

                h3 {
                    transform: translate3d(0, 0, 0);
                }

                .item-body {
                    opacity: 1;
                }
            }
        }
    }

}

.don-item img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;

}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: transform 300ms;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, 100%, 0);
    z-index: 1;
}


.item-body {
    flex-grow: 1;
    padding: 5px;
    margin: 4px;
    opacity: 0;
    transition: opacity 500ms 100ms;

    p {
        margin: 0;
        color: #FAB252;
    }
}

.don-item {
    margin: 20px;
    position: relative;
    display: inline-block;
}

.don-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.donation-btn a {
    color: white;
    text-decoration: none;
    background-color: rgb(250, 178, 83);
    padding: 10px 20px;

}

.donation-btn a:hover {
    background-color: transparent;
    border: 1px solid rgb(250, 178, 83);
    color: #FAB252;
}

.donation-btn {
    margin-top: 10px;
}

.achievement {
    margin: 20px 0 auto;
    padding: 40px;
    overflow: hidden;
    width: 100%;
    background: url('../img/achieve-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ach-con::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.counter-item {
    position: relative;
    z-index: 2;
    max-height: 300px;
    height: 100%;
    transition: transform 0.3s ease;
}

.counter-item:hover {
    transform: scale(1.05);
}

.col-12 .d-flex .btn-hover-bg {
    position: relative;
    z-index: 2;
}

.cause-cards {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    gap: 1rem;
}

@media screen and (max-width:768px) {
    .about{
        flex-direction: column;
    }
    .about_img,.about_content{
        width: 100%;
    }
    
}
@media screen and (max-width:1200px){
    .vol-con{
        flex-direction: column;
    }
    .vol-grid,.vol-text{
        width: 100%;
        margin: 0 auto;
    }
    
}
@media screen and (min-width:600px){
    .cause-cards{
        flex-wrap: wrap;
    }
    
    
}
.cause-flipcard {
    position: relative;
    padding-bottom: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 300px;
    perspective: 1000px;

}

.flip-inner {
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;

}

.cause-flipcard:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.flip-back {
    transform: rotateY(180deg);
}

.cause-flipcard a {
    text-decoration: none;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(250, 178, 83);
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.cause-flipcard a:hover {
    background-color: transparent;
    border: 1px solid rgb(250, 178, 83);
    color: #FAB252;
}

.progress {
    border-radius: 0 !important;

}

.progress-bar {
    background-color: rgb(250, 178, 83) !important;
}

.progress-bar span {
    position: absolute;
    left: 65%;
    transform: translateY(5%);
    padding: 1px 5px;
    font-size: 12px;
    color: white;
    background: black;
    z-index: 1;
}

.progress-span {
    left: 85% !important;
}

.cause-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(250, 178, 83);
    padding: 10px 20px;
    border: 1px transparent;
}

.cause-text a:hover {
    background-color: transparent;
    border: 1px solid rgb(250, 178, 83);
    color: #FAB252;
}

.cause-text {
    padding: 20px;
    background-color: bisque;
    padding-bottom: 40px;
    border: 3px dotted rgb(250, 178, 83);
    border-top: none;
}

.events {
    margin-top: 170px;
}

.event-text {
    text-align: center;
    padding: 0 100px;
}

.event-text h4 {
    color: rgb(250, 178, 83);
}

#news-slider {
    margin-top: 80px;
}

.post-slide {
    margin: 20px 20px;
    border-radius: 15px;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;

}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
    transform: scale(1.1, 1.1);
}


.post-slide .post-content {
    background: rgb(241, 215, 192);
    border: 3px dotted rgb(250, 178, 83);
    border-top: 0;
    padding: 10px 20px 40px;

}

.events .post-slide .post-content .text-body {
    color: rgb(110, 110, 110) !important;
    padding-right: 20px;
    padding-top: 5px;
}

.post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px;
}

.post-slide .read-more {
    color: white;
    text-decoration: none;
    background-color: rgb(250, 178, 83);
    padding: 10px 20px;
    border: 1px transparent;
    text-transform: uppercase;
}

.post-slide .read-more:hover {
    font-weight: bold;
    background-color: transparent;
    border: 1px solid rgb(250, 178, 83);
    color: #FAB252;
}

.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: rgb(250, 178, 83);
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 40px;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: rgb(250, 178, 83);
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 40px;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}

@media only screen and (max-width:1280px) {
    .post-slide .post-content {
        padding: 0px 15px 25px 15px;
    }
}

.news {
    margin-top: 170px;
    margin-bottom: 40px;
}

.news-card {
    display: flex;
    justify-content: center;
    padding: 100px;

}

@media screen and (max-width:992px) {
    .news-card {
        flex-wrap: wrap;
    }

}

.news-card .card {
    margin: 0 10px;
    border-radius: 0;
}

.card-body a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: rgb(250, 178, 83);
    border: 1px transparent;
    border-radius: 0;
    transition: none;
}

.news-card .card .card-body a:hover {
    background-color: transparent;
    border: 1px solid rgb(250, 178, 83);
    color: #FAB252;
    transition: border 0.2s ease;
}

.news-item {
    position: relative;
    overflow: hidden;
}

.news-item img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    max-height: 100%;
    transition: transform 0.5s;

}

.news-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.5s;
}


.news-item img:hover {
    transform: scale(1.2);
}

.news-item:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.news-item:hover .search-icon {
    opacity: 1;
}

.news-item .news-info {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    align-items: end;
    justify-content: space-between;
}
.work{
    margin-top: 120px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container>div {
    text-align: center;

}

.item2 {
    grid-area: 1 / 2 / 3 / 2;
    position: relative;
    overflow: hidden;
}

.item2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;

}

.item2 img:hover {
    transform: scale(1.2);
}

.work-item {
    position: relative;
    overflow: hidden;
}
.work-text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    text-decoration: none;
    z-index: 1;
    
}


.work-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;

}

.work-item img:hover {
    transform: scale(1.2);
}


.work-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(255, 208, 147) ;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .work-overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 178, 83, 0.281);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .work-item:hover .work-overlay {
    height: 40%;
  }
  .work-item:hover .work-overlay2 {
    height: 100%;
  }
  .item2:hover .work-overlay {
    height: 30%;
  }
  .item2:hover .work-overlay2 {
    height: 100%;
  }
  .work-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.work-item:hover .work-icon {
    opacity: 1;
}
.item2:hover .work-icon {
    opacity: 1;
}
.volunteer{
    padding: 100px 0;
    background-color:rgb(250, 243, 234) ;
}
.vol-con{
  padding: 100px;
  display: flex;
  padding-bottom: 20px;
  gap: 20px;
}
.vol-grid{
    width: 50%;
    height: 100%;
    display: flex;
    
}
.grid1{
    padding: 10px;
    
}
.grid1 .image{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.grid1 .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.grid1 .image img:hover{
    transform: scale(1.1);
}

.grid1 .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.5s;
}
.grid1 .image:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}
.grid1 .image .img-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    text-decoration: none;
    z-index: 1;
}

.vol-text{
    width:70%;
    padding: 10px;
}
.text-dark i{
    color: rgb(250, 178, 83) !important;
}

footer{
    gap: 20px;
    width: 100%;
    background-color: rgb(36, 36, 37);
    border-top: 3px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-style: dotted;
    border-color: white
}
.footer-top{
    display: flex;
    padding: 100px;
    padding-bottom:80px ;
}
.newsletter{
    width: 30%;
    padding: 10px;
    padding-top: 0;
    color: white;
}
.newsletter p{
    color: gray;
    line-height: 35px;
}
.newsletter input{
    border-radius: 0;
    background-color: peachpuff !important;

}
.newsletter button{
    color: black;
}
.our-services{
    width: 30%;
    padding: 10px;
    padding-top: 0;
    color: white;
}
.our-services a{
    line-height: 35px;
    text-decoration: none;
    color: gray;
    transition: .5s;
}
.our-services a:hover{
    color: rgb(250, 178, 83);
    letter-spacing: 1px;
}
.footer-volunteer{
    width: 25%;
    color: white;
}
.footer-volunteer a{
    line-height: 35px;
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}
.footer-volunteer a:hover{
    color: rgb(250, 178, 83);
    letter-spacing: 1px;
}
.gallery{
    width: 30%;
    padding: 20px;
    padding-top: 0;
    color: white;
}
.footer-gallery {
    position: relative;
    overflow: hidden;
  }
  .footer-gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
  }
  
  .footer-gallery:hover img {
    transform: scale(1.2);
  }
.footer-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}
.footer-gallery::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.5s;
}
.footer-gallery:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}

.col-4 .footer-gallery:hover .footer-icon {
    opacity: 1;
}

.copyright a{
    text-decoration: none;
    color: rgb(250, 178, 83);
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}